<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script src="https://unpkg.com/vue"></script>
    <title>todo list</title>
    <script src="js/task.js"></script>
  </head>
  <body>
    <style media="screen">
    .btn-circle
    {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    </style>
    <h1>INI TODO</h1>

    <div id="app" class="container">
      <div class="container col-md-offset-4">
        <form class="form-inline" @submit.prevent="addNewTask()">
          <div class="form-group">
            <input type="text" v-model ="addTask" placeholder="New Task" class="form-control">
            <input type="text" v-model= "date" placeholder="YYYY-MM-DD" class="form-control">
            <button type="submit" class="btn btn-primary" name="button">Submit</button>
          </div>
        </form>
      </div>
      <br><br>
      <div class="container">
        <table class="table">
          <tr v-for ="list in showListToDo">
              <td><a href="#"><input type="checkbox"></a></td>
              <td>
                {{list.task}}
              </td>
              <td>
                {{list.dueDate}}
              </td>
              <td>
                <button type="button" name="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#myModal2" @click="select(list._id)"> <i class="glyphicon glyphicon-pencil" ></i></button>
                <button type="button" name="button" class="btn btn-danger btn-circle"  @click="deleteList(list._id)"><i class="glyphicon glyphicon-trash"></i></button>
              </td>
          </tr>
        </table>
      </div>
      <!-- MODAL EDIT -->
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Task</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="post" >
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label">Task</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="New Task" v-model="addTask">
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label">Due Date</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="YYYY-MM-DD" v-model="date">
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
                </div>

                <!-- <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                      <button class="button-kecil"><span>Edit</span></button>
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
                </div> -->

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" @click="editList(_id)">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
